.body {
    padding: 2rem 5rem;
    background-color: #EDF6F9;
    min-height: 800px;
}

.btn-add-position {
    display: flex;
    justify-content: end;
}

.btn {
    width: 90px;
    height: 50px;
    border-radius: 5px;
    padding: 0;
}

.btn-add {
    font-size: 1.5rem;
    font-weight: bold;
    color: #EDF6F9;
    background-color: #773344;
    border: 1px solid black;
}

.hover-effect:hover {
    color: #EDF6F9;
    background-color: #E85F5C;
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
}

.friend-list-position {
    display: flex;
    justify-content: center;
}